div.state {
  background: #14b856;
  height: 558px;
  width: 1118px;
  position: relative;
}

img.ball {
  position: absolute;
  display: inline;
}

table {
  border-collapse:collapse;
}

table.query,table.query th,table.query td {
  border: 1px solid black;
}

table.query th,table.query td {
  padding: .5em;
}

table.query th {
  font-size: large;
  background: #000000;
  color: white;
  text-align:left;
}

table.query tr.row1 td {
  background: #D8D8D8;
}

table.query tr.row td {
  background: #F0F0F0;
}

table.input th {
  text-align: left;
  padding: .5em;
}